.container {
  width: 1023px;
  height: 500px;
  position: fixed;
  top: 90px;
  left: 261px;
  border-radius: 1rem;
  opacity: 1;
  background-color: #1C1C1C;
  z-index: 1000;
  display: flex;
}

.selectedSection {
  flex: 1;
  background-color: #2A2A2A;
  border-radius: 0.5rem;
}

.listSection {
  flex: 1;
  background-color: #1C1C1C;
  border-radius: 0.5rem;
  padding: 20px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.favsButton {
  background-color: #5B5454;
  width: 200px;
  height: 40px;
  color: white;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: center;
}
