.scrollContainer {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.scrollButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.scrollButton {
  background-color: rgba(123, 123, 123, 0.7);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.scrollButton:hover {
  color: #76DD00;
}

.scrollButton:active {
  background-color: #5B5454B2;
}

.charactersGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  max-height: 350px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.loading {
  color: #4CAF50;
  text-align: center;
  grid-column: 1 / -1;
  padding: 20px;
} 